<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <script>

    const options = {
      enableHighAccuracy: false,
      timeout: 5000,
      maximumAge: Infinity
    };
    function go(){
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          const lat = position.coords.latitude;
          const long = position.coords.longitude;
          console.log(`Latitude: ${lat}, Longitude: ${long}`);

          fetch('/api/addLoc', {
            method: 'POST',
            body: JSON.stringify({
              latitude:lat,
              longitude:long,
            }),
            headers: {
              'Content-type': 'application/json; charset=UTF-8',
            }
          })

        }, function error(err) {console.warn(`ERROR(${err.code}): ${err.message}`);
        }, options);
      } else {
        console.log("Geolocation is not supported by this browser.");
      }
    }
  </script>

  <body>
    <div id="n1" class="n1">
      <div id="m_container" class="m_container">
        <div id="lch" class="lch">
          <div id="login_container" class="login_container">
            <div id="lt" class="lt">Sign-Up</div>
            <div id="fm" class="fm">
              <div>
                <button onclick="go()">Get Location</button>
                <form
                  id="loginf"
                  class="loginf"
                  action="/api/addUser"
                  method="post"
                  >
                  <label for="uname">Username:</label>
                  <input type="text" id="uname" name="uname" /><br />
                  <label for="passw">Password</label>
                  <input type="password" id="passw" name="passw" /><br />
                  <label for="bloodt">Blood-Type:</label>
                  <input type="text" id="bloodt" name="bloodt" /><br />
                  <label for="phn">Phone</label>
                  <input type="text" id="phn" name="phn" /><br />
                  <label for="addr">Address:</label>
                  <input type="text" id="addr" name="addr" /><br />
                  <label for="age">Age</label>
                  <input type="text" id="age" name="age" /><br />
                  <input type="submit" value="Submit"/>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
