<!DOCTYPE html>

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="./css/style.css">

    <title>Blood Donation</title>
  </head>

  <body>

    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

      <div class="sidebar-links-div">
        <div class="link-div">
          <div class="sidebar-img-div">
            <img src="./img/user-white.png" class="sidebar-img">
          </div>
          <a href="profile">My Profile</a>
        </div>

        <div class="link-div">
          <div class="sidebar-img-div">
            <img src="./img/user-white.png" class="sidebar-img">
          </div>
          <a href="dash.html">Notifications</a>
        </div>

        <div class="link-div">
          <div class="sidebar-img-div">
            <img src="./img/user-white.png" class="sidebar-img">
          </div>
          <a href="about.html">About Us</a>
        </div>

        <div class="link-div">
          <div class="sidebar-img-div">
            <img src="./img/user-white.png" class="sidebar-img">
          </div>
          <a href="contact.html">Contact Us</a>
        </div>
      </div>

    </div>

    
    <div id="website-div" class="website-div">
      
      <header class="header" id="header">
        <div class="top-bar">
          <div class="profile-pic">
            <button class="profile-pic-btn" id="profile-pic-btn" ><img class="user-pic" src="./img/white-blood.svg"></button>
          </div>
  
          <div class="profile-info">RaktKosh</div>
          
          <div class="nav-btn-div" onclick="openNav()">
            <a href="#" class="nav">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
           </a>
          </div>
  
        </div>
      </header>
      
      <main class="main-div">
        
        <div id="myMap" class="myMap">

        </div>

      </main>
  
      <footer class="footer" id="footer">
        <div class="bot-bar">
          <button class="bot-btn" id="js-bot-btn1" onclick="goToPage(`temp`)">Home</button>
          <button class="bot-btn" id="js-bot-btn2" onclick="goToPage(`map`)">Map</button>
          <button class="bot-btn" id="js-bot-btn2" onclick="goToPage(`list`)">List</button>
        </div>
      </footer>
    </div>

    <script>
      function openNav() {

      let width = window.matchMedia("(min-width: 700px)");

      if(width.matches) {
          document.getElementById("mySidebar").style.width = "250px";
      }
      else {
          document.getElementById("mySidebar").style.width = "50vw";
      }
      }

      function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      }

      function goToPage(pname) {
      location.replace(`${pname}`);
      }
    </script>

    <script type='text/javascript'
    src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AgiYqPQ8XPpE8-jLEE-W3Xz6yTrYosqe8dCqIdEBL-oWBZ6VWUHYhxziThSZ2lbM' 
    async defer></script>
    <script type='text/javascript'>
      function GetMap()
      {

        //user location
        let cent = new Microsoft.Maps.Location(12.9692, 79.1559);
          
        var map = new Microsoft.Maps.Map('#myMap',{
            center: cent,
            zoom: 17
          });

        //user Pushpin
        var myPin = new Microsoft.Maps.Pushpin(cent, {
            icon: './img/user-min.svg',
            anchor: new Microsoft.Maps.Point(17, 17)
        });
        //Add the user pushpin to the map
        map.entities.push(myPin);

        //func for adding nearby pushpins
          let p1 = new Microsoft.Maps.Location(12.9704, 79.1557);
          let p2 = new Microsoft.Maps.Location(12.9692, 79.1544);
          let p3 = new Microsoft.Maps.Location(12.9707, 79.1570);
          let p4 = new Microsoft.Maps.Location(12.9688, 79.1560);

          let locs = [p1,p2,p3,p4];

          for(let i = 0; i<locs.length; i++){

            var pin = new Microsoft.Maps.Pushpin(locs[i], {
              icon: './img/blood.png',
              anchor: new Microsoft.Maps.Point(17, 17)
            });
      
            map.entities.push(pin);
          }


      }
      </script>
  </body>
</html>