<!DOCTYPE html>

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="./css/style.css">

    <title>Blood Donation</title>
  </head>

  <body>

    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

      <div class="sidebar-links-div">
        <div class="link-div">
          <div class="sidebar-img-div">
            <img src="./img/user-white.png" class="sidebar-img">
          </div>
          <a href="profile">My Profile</a>
        </div>

        <div class="link-div">
          <div class="sidebar-img-div">
            <img src="./img/user-white.png" class="sidebar-img">
          </div>
          <a href="profile">Notifications</a>
        </div>

        <div class="link-div">
          <div class="sidebar-img-div">
            <img src="./img/user-white.png" class="sidebar-img">
          </div>
          <a href="profile">About Us</a>
        </div>

        <div class="link-div">
          <div class="sidebar-img-div">
            <img src="./img/user-white.png" class="sidebar-img">
          </div>
          <a href="profile">Contact Us</a>
        </div>
      </div>

    </div>
    
    <div class="website-blur" id="js-website-blur">
    </div>

    <div id="website-div" class="website-div">
      
      <header class="header" id="header">
        <div class="top-bar">
          <div class="profile-pic">
            <button class="profile-pic-btn" id="profile-pic-btn">
              <img class="user-pic" src="./img/white-blood.svg">
            </button>
          </div>
  
          <div class="profile-info">RaktKosh</div>
          
          <div class="nav-btn-div">
            <a href="#" class="nav" onclick="openNav()">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
           </a>
          </div>
  
        </div>
      </header>
      
      <main class="main-div">
        <div class="home-page-div">
          <div id="user-info-div" class="user-info-div">
            <p>Welcome <%= name %> !</p>
          </div>

          <div id="home-img-div" class="home-img-div">
            <img src="./img/img1.png" class="home-img">
          </div>

          <div class="user-req-btn-div">
            <div class="user-req-btn donate-bld-btn" onclick="goToPage(`map`)">
              Donate
            </div>

            <div class="user-req-btn req-bld-btn" onclick="goToPage(`map`)">
              Request
            </div>
          </div>

        </div>
      </main>
  
      <footer class="footer" id="footer">
        <div class="bot-bar">
          <button class="bot-btn" id="js-bot-btn1" onclick="goToPage(`temp`)">
            <div class="bot-btn-icon-div">
              <img class="bot-btn-icon home-icon" src="./img/homeicon.png">
            </div> 
            <p>Home</p>
          </button>

          <button class="bot-btn" id="js-bot-btn2" onclick="goToPage(`map`)">
            <div class="bot-btn-icon-div">
              <img class="bot-btn-icon map-icon" src="./img/mapicon.png">
            </div> 
            <p>Map</p>
          </button>

          <button class="bot-btn" id="js-bot-btn2" onclick="goToPage(`list`)">
            <div class="bot-btn-icon-div">
              <img class="bot-btn-icon list-icon" src="./img/listicon.png">
            </div> 
            <p>List</p>
          </button>
        </div>
      </footer>
    </div>

    <script>
      function openNav() {

        document.getElementById("js-website-blur").style.zIndex = "5";

        let width = window.matchMedia("(min-width: 700px)");

        if(width.matches) {
            document.getElementById("mySidebar").style.width = "250px";
        }
        else {
            document.getElementById("mySidebar").style.width = "50vw";
        }
      }

      function closeNav() {

        document.getElementById("js-website-blur").style.zIndex = "-1";

        document.getElementById("mySidebar").style.width = "0";
        }

        function goToPage(pname) {
        location.replace(`${pname}`);
      }
    </script>

  </body>
</html>